@media only screen and (max-width: 600px ) {

header {
    background-color: green;
    color: white;
    padding: 1em;
}

nav {	margin: 0 auto;
        max-width: 760px; 
        background-color: tan;	
    }

.navigation { 
    list-style: none; 
    text-align: center; 
}

  .navigation li:first-child {
      display: block;
    }
  .navigation li { display: none;
}

  .navigation a {	
      display: block;
        color: black; 
        padding: .75rem;	
        text-align: center;	
        text-decoration: none;
    }
  .navigation a:hover {	color: #000; 
    background-color: #fff; 
    font-weight: 700;	
}
    .responsive li { display: block; 
    }


.active {
    background-color: rgb(198, 207, 198);
}
ul { 
    list-style-type: none;

}


#fivedaytitle {
    visibility: hidden;
}
#fiveday{
    visibility: hidden;
    position: absolute;
	top: 700px;
    right: 15px;
    left: 15px;
    background: radial-gradient(#eee, #4567aa);
    opacity: 0.9;
    filter: alpha(opacity=30);
	border: 1px solid #000;
    padding: 1.5rem;
    color: black;
}
.articlebody {
    position: absolute;
	top: 740px;
    right: 15px;
    left: 15px;
    background: radial-gradient(#eee, #4567aa);
    opacity: 0.9;
    filter: alpha(opacity=30);
	border: 1px solid #000;
    padding: 1.5rem;
    color: black;
    
	
}
.rnav {
    
    display: block;
    background-color: rgba(4, 110, 4, 0.548);
    color: white;
    padding: 1em;
    border: 1px solid black;
    font-size: 22px;
    height: 1.5em;
    
}
.rnav a {
    color: white;
    font-family: 'Roboto', sans-serif;
    
}
}