@media only screen and (max-width: 500px) {
    div.five-day {
      display: none;
    }
  }
@media only screen and (min-width: 400px) {
     .hero-image{ 
        
    } 
}
  body {
    background-color: tan;
}
nav {
        background-color: grey;
        
    }
    
    
    
    nav ul.hide {display:none;}
    

    

    
    