
@media only screen and (min-width: 35em){
nav button {display: none;}
nav ul.hide {display: block;}
nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10px;
    padding: .25px;
    overflow: hidden;
    background-color:rgb(227,232,81);
    border-radius: 50px;
}

li {
    float: left;
}
li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header {
    
    display: flex;
    align-items: center;
    padding-top: 1px; 
    padding-bottom: 1px; 
    border: solid 5px black;
   background-color: rgb(73, 7, 73);
    font-family: 'Great Vibes' , serif;
    color: white;
}
body {
    background-color:rgb(56,120,87);
}
p {
    font-family: 'Oswald' , serif;
}
#hero {
    float: none;
    padding: 14px 55px;
}    

.details {
    padding: 14px 150px;
}
.picture-container {
    display: flex;
  height: 400px;
  flex-wrap: wrap;
  align-content: space-around;
}

#templecont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(73, 7, 73);
    color: white;
    padding: 3px 7px 15px 7px;
}
#reservation {
   margin: 10px;
}
#gallery {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    height: 400px;
    flex-wrap:nowrap;
    align-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(155,155,155);
    margin: 10px;
}
#temple1 {
    width: 250px;
    height: 300px;
    border: 10px solid rgb(128, 128, 128);
    background: rgb(73, 7, 73);
    padding: 25px;
    margin: 25px;
}
#temple2 {
    width: 250px;
    height: 300px;
    border: 10px solid rgb(128, 128, 128);
    background: rgb(73, 7, 73);
    padding: 25px;
    margin: 25px;
}
#temple3 {
    width: 250px;
    height: 300px;
    border: 10px solid rgb(128, 128, 128);
    background: rgb(73, 7, 73);
    padding: 25px;
    margin: 25px;
}
#temple4 {
    width: 250px;
    height: 300px;
    border: 10px solid rgb(128, 128, 128);
    background: rgb(73, 7, 73);
    padding: 25px;
    margin: 25px;
}
form fieldset {
    margin: 2 rem;
    border: 5px solid rgb(73, 7, 73);
    border-radius: 10px;
    padding: 1rem 2%;

}
form legend {
    color: rgba(43, 4, 4, 0.993);
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top {
    display: block;
    padding-top: 1rem;
    font-size: 1.25rem
}
form label.middle {
    display: block;
    padding-top: 1rem;
    font-size: 1.25rem
}
form label.bottom {
    display: block;
    padding-top: 1rem;
    font-size: 1.25rem
}
form label.top input, form label.middle input, form label.bottom input
{
    display: block;
    border: solid 1px black;
    padding: .75rem;
}
form input.submitButton {
    color: white;
    background-color: rgba(43, 4, 4, 0.993);
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}
#service {
    display: block;
   text-align: center;
    padding-top: 1px; 
    padding-bottom: 1px; 
    border: solid 5px black;
    background-color: rgb(73, 7, 73);
    font-family: 'Oswald' , serif;
    color: white;
}
}